<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue留言板</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="demo.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div class="container" id="container">
    <!-- 表单部分 -->
    <div class="form-horizontal panel-body" role="form">
        <div class="form-group ">
            <label class="col-sm-1 control-label name">昵称:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control name"  v-model="cname" id="inputName"
                       placeholder="请输入昵称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">留言:</label>
            <div class="col-sm-11">
                <textarea type="text" class="form-control message" v-model="message" rows="5" id="msg"
                       placeholder="请输入您的留言"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <button type="submit" @click="submit" class="btn btn-success submit">发表留言</button>
            </div>
        </div>
    </div>
    <!-- 留言显示部分 -->
    <div class="panel">
        <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
            <ul class="list-group messageList">
                <li class="list-group-item" v-for="value in list">{{value.cname}}<span>说：</span>{{value.message}}</li>
                <!-- <li class="list-group-item">aaa<span>说：</span>大家好！</li> -->
            </ul>
        </div>
    </div>
</div>

<script>
let list = [];
let vm = new Vue({
  el: '#container',
  data: {
    title:'留言列表',
    list:[],
    cname:'',
    message:''
  },
  methods:{
    submit(){
        let that = this;
        let _name = that.cname;
        let _msg = that.message;
        if(_name == ''){
            alert('请输入您的昵称！');
            that.message = '';
        }else if(_msg == ''){
            alert('请输入您的留言！');
            that.cname = '';
        }else{
            that.list.unshift({
                // unshift向数组的开头添加一个或更多元素，并返回新的长度。
                cname: _name,
                message:_msg
            });
            that.cname = '';
            that.message = '';
        }
    }
  }
})
</script>
</body>
</html>